body{
    background-color: hsl(40deg 12% 15%);
    font-family: "Montserrat";
}
.navbar{
    display: flex;
    padding: 35px;
    padding-left: 165px;
    margin-top: -8px;
}
.list{
    display: flex;
    color: rgba(255, 255, 255, 0.498);
    font-size: 16px;
    padding-left: 500px;
    font-family: "Montserrat";
    list-style-type: none;
}
.list li{
    display: flex;
    padding-right: 80px;
}
.list li:hover {
    color: #ffffff;
  }
.button-small{
    display: flex;
    top: 4%;
    left: 75%;
    font-size: 20px;
    padding: 12px 26px;
    border-radius: 10px;
    background-color: #2b2822;
    color: hsl(50deg 50% 42%);
    border: 1px solid hsl(50deg 50% 42%);
    position: relative;
}
.first_section{
    display: flex;
}
.hero{
    display: flex;
    flex-direction: column;
}
.hero-heading{
    display: flex;
    color: white;
    font-size: 70px;
    padding-left: 151px;
    padding-right: 400px;
    margin: 18px;
    
}
.hero-body{
    display: flex;
    position: relative;
    top: 12%;
    right: 12%;
    color: white;
    
}
.mid{
    display: flex;
    height: fit-content;
}
.mid img{
    width: 100%;
    height: 53vh;
    object-fit: cover;
   
}
.bottom{
    display: flex;
}
.bottom-main{
    display: flex;
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 4px;
}
.left_icon{
    font-size: 28px;
    border: 1px solid hsl(50deg 50% 42%);
    color: hsl(50deg 50% 42%); 
    border-radius: 50%;
    padding: 5px 15px;
}
.button-large-prev{
    padding: 25px 23px;
    background-color: hsl(50deg 12% 20%);
    color: rgb(255, 255, 255);
}
.button-large-next{
    padding: 26px 18px;
    background-color: hsl(50deg 50% 42%);  
}
.button-large-next .left_icon{
    color: white;
    border: 1px solid white;
}

